.sign-in-title {
  font-family: TiemposHeadlineWeb-Bold, Georgia, serif;
  font-size: 40px;
  font-weight: 400;
  margin: 30px;
  color: black;
}

.sign-in-page {
  display: flex;
  justify-content: center;
}

.sign-in-form {
  padding: 60px 68px 40px;
  height: 600px;
  width: 500px;
  background-color: rgb(214 142 142);
}

.input-containers {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-end;
  flex-wrap: nowrap;
}

input {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  background: white;
  color: #333333;
  margin: 30px;
  margin-bottom: 0px;
  border-radius: 3px;
  font-size: 18px;
  padding: 13px;
}

.sign-in-btn {
  margin-top: 40px;
  border-radius: 3px;
  font-size: 18px;
  font-weight: bold;
  padding: 10px;
  background: white;
}
